$red: red;
$blue: darkblue;

a {
  text-decoration: none;
}

h1 {
  color: $red;
  font-size: 32px;

  .world {
    color: $blue;
  }
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;

  li {
    flex: 1 0 auto;
    text-align: center;
  }
}
